

.button {
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #5b99fc;
  margin-top: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #062d6b;
  color: antiquewhite;
}

.label {
  font-size: 20px;
  color: rgb(188, 171, 188);
  font-weight: 700;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: 'Itim', cursive;
}

.label input {
  padding: 6px;
  width: 100%;
  /* background-color: silver; */
}

.label input:focus {
  outline: none;
  border-color: blue;
}
